# 
# NODE ENV
# 
NODE_ENV=local

#
# APPLICATION
#
APP_NAME=express
APP_SCHEMA=http
APP_HOST=localhost
APP_PORT=3000
APP_ROUTE_PREFIX=/api
APP_BANNER=true
APP_DECODE_KEY=123

#
# LOGGING
#
LOG_LEVEL=debug
LOG_OUTPUT=dev

#
# MONGODB
#
MONGODB_URI=MONGO_URL
MONGODB_LOGGING=false

#
# PATH STRUCTRUE
#
CONTROLLERS=src/api/controllers/**/*.controller.ts
MIDDLEWARES=src/api/middlewares/**/*.middleware.ts
INTERCEPTORS=src/api/interceptors/**/*.interceptor.ts
CRONS=src/api/crons/**/*.cron.ts
SUBSCRIBERS=src/api/subscribers/**/*.subscriber.ts
RESOLVERS=src/api/resolvers/**/*.resolver.ts

#
# Swagger
#
SWAGGER_ENABLED=true
SWAGGER_ROUTE=/swagger

#
# Status Monitor
#
MONITOR_ENABLED=true
MONITOR_ROUTE=/monitor